#container1{
    height:20vw;
    width:100%;
    background-color: black;
    position: relative;
}
#container2{
    height:20vw;
    width:20vw;
    margin: auto;
    background-image: url(Clock.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position:relative;
    
}
#hour{
    position: absolute;
    height: 24%;
    width: 1%;
    background-color: black;
    top: 25%;
    left: 49.3%;
    transform-origin: bottom;
    
}
#min{
    position: absolute;
    height: 29%;
    width: 1%;
    background-color: black;
    top: 20%;
    left: 49.3%;
    transform-origin: bottom;
}
#sec{
    position: absolute;
    height: 34%;
    width: 1%;
    background-color: black;
    top: 15%;
    left: 49.3%;
    transform-origin: bottom;
}

#container3{
    padding: auto;
    height:50vw;
    width:100%;
    
    position:relative;
    
}

#poss{
    margin: auto;
    position:absolute;
    height:50vw;
    width:100%;
    background-image: url(Bg.png);
    background-repeat: no-repeat;
    background-size: 100%;


}